<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103561204025-c21v6q7s9kq7ffna494rgu8g6u70805h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103561204025-c21v6q7s9kq7ffna494rgu8g6u70805h</string>
	<key>API_KEY</key>
	<string>AIzaSyAVGTc6tQZyOFLGLk3U3L_3zsYm2i3Ez9I</string>
	<key>GCM_SENDER_ID</key>
	<string>103561204025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devexam</string>
	<key>PROJECT_ID</key>
	<string>devexam-43748</string>
	<key>STORAGE_BUCKET</key>
	<string>devexam-43748.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103561204025:ios:71152dc93dc7ba1908d8e8</string>
</dict>
</plist>